html {
    font-family: "M PLUS Rounded 1c";
    font-size: 21px;
    background-color: #fff;
    text-align: center;
}

input,
textarea {
    outline: none;
    border: 1px solid rgb(130, 243, 154);
    font-family : inherit;
    font-size   : 70%;
    padding: 5px;
}

input:focus,
textarea:focus {
    box-shadow: 0 0 5px rgb(154, 255, 221);
}

p {
    font-weight: bold;
}

#name,
#mailAdress {
    width: 300px;
    height: 25px;
}

#message {
    width: 400px;
    height: 200px;
}

.button {
    border: 1px solid rgb(118, 199, 42);
    border-radius: 1.5em;
    display: inline-block;
    height: 50px;
    width: 90px;
    margin: 10px;
    background-color: rgb(172, 238, 110);
}

.button p {
    position: absolute;
    top: 515px;
    left: 652px;
}

.button:hover {
    opacity: 0.8;
}

.back {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 100px;
    color: rgb(78, 245, 114);
    text-decoration: none;
}

.back:hover {
    color: rgb(118, 199, 42);
    transition-duration: 0.5s;
    transition-timing-function: ease;
}